[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-indent: -9999px;
    background-repeat: no-repeat;
}
.icon-settings {
    background-image: url('../img/settings-icon.png');
    background-size: 32px;
}
.icon-sounds {
    background-image: url('../img/sounds-sprite.png');
    background-size: 64px 32px;
}
.off .icon-sounds {
    background-position: -32px 0;
}

html {
    background: #333;
}

html, body, #game {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.panel {
    padding: 5px;
    border: 1px solid #fff;
    background: rgba(256, 256, 256, 0.5);
}
#toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
}
#toolbar li {
    display: inline-block;
    padding: 5px;
}
#toolbar li + li {
    border-left: 1px solid #fff;
}

#info {
    position: absolute;
    top: 0;
    left: 0;
}

#dialog {
    position: absolute;
    top: 0;
    z-index: 200;
    width: 100%;
}
#dialog h3 {
    margin: 10px 0;
}
#dialog .dialog-content {
    box-sizing: border-box;
    max-width: 900px;

    margin: 0 auto;
    padding: 10px;

    overflow: auto;

    box-shadow: 0 0 25px black;
    background: #fff;
    opacity: 0;

    -webkit-transform: translateY(-500px);
    -moz-transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    transform: translateY(-500px);

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#dialog .dialog-content li {
    display: inline-block;
}
#dialog.open .dialog-content {
    opacity: 1;

    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}